#dotawrapper
{
	margin: -20px 75px -10px 75px;
	padding: 5px 20px 15px 20px;
	box-shadow: 0px 0px 7px #999;
	background: #ffffff none repeat scroll 0% 0%;
	position: relative;

}

#beginnerpage
{

}

h3
{
	border-bottom-style: dotted;
}

h4
{
	color: #3a99f7;

}


.itemDesc p
{
	margin: -5px 0px 0px 0px;
	
}

#hotkeys td
{
	border: 1px solid black;
}